.girl-reading {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Winslow_Homer_-_Girl_Reading_Under_an_Oak_Tree_%281879%29.jpg/1200px-Winslow_Homer_-_Girl_Reading_Under_an_Oak_Tree_%281879%29.jpg');
    background-size: cover;
    background-position: 70%;
    width:100vw;
    height:85vh;

    .question {
        color: white;
        padding: 15vw 5vw 5vw;
        text-shadow: -5px 5px 4px #000000;
        font-size: 1.5rem;
    }

    .search-bar{
        background-color: white;
        width: 90vw;
        height:10vw;
        margin: 0 auto;
        padding: 1vw;
        color: grey;
    }

    .choose-message{
        margin-top: 62vh;
        margin-left: 2vw;
        color: white;
        text-shadow: -5px 5px 4px #000000;
    }
}